html {
    background: url("../imgs/wlopground2.jpg") no-repeat center fixed;
    background-size: cover;
}

body {
    background: rgba(255, 255, 255, 0.6);
    padding: 25px 50px;
    margin: 25px auto;
    border-radius: 25px;
    width: 615px;
    text-align: left;
    margin-top: 95px;
}

a {
    text-decoration: none;
    color: black;
}

#sam-link {
    color: rgb(24, 128, 160);
}

button {
    border-radius: 100px;
    margin: 10px;
    padding: 8px;
    width: 60px;
    background: rgb(223, 239, 245);
    border: solid black 1px;
}

#artist-heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sam-heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#para-sam {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,'Open Sans', 'Helvetica Neue', sans-serif;
}

#empress {
    padding-left: 10px;
    display: block;
    padding: auto;
    height: 175px;
    float: right;
    margin-top: -55px;
}

#sam2 {
    padding-top: 15px;
    display: block;
    padding: auto;
    height: 200px;
}

#sam3 {
    padding-top: 15px;
    display: block;
    padding: auto;
    height: 200px;
    float: left;
}

#sam5 {
    padding-top: 15px;
    display: block;
    padding: auto;
    height: 200px;
    float: left;
}

#sam4 {
    padding-top: 15px;
    display: block;
    padding: auto;
    height: 200px;
    float: left;
}
